<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name=viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
<meta title content="Tovix | Home">
<title><%= title %></title>
<link rel="stylesheet" href="/index.css">
</head>
<body>
<nav id="navbar">
<button id="worksapce-switch"><img id="worksapce-img" href="<%= worksapce_image %>"></button>
<button id="notification-bell"><img id="notification-bellimg" href="<%= notification_bell_image %>"></button>
<input type="text" id="sarch-bar" placeholder="Search..">
<button id="search-icon"><img id="search-iconimg" href="<%= search_bar_image %>"></button>
<image id="profile-pic" href="<%= profile_image %>">
<p><%= profile_username %></p>
<button id="drop-down-img"><img id="dropdown-img" href="<%= drop_down_image %>"></button>
</nav>
<section id="main">

<div id="activity-feed-box">
<div id="ab-title">
<h2>Activity Feed</h2>
</div>
<div id="ab-main">
</div>
</div>

<div id="upcomming-sessions-box">
<div id="usb-title">
<h2>Upcomming Sessions</h2>
</div>
<div id="usb-main">
<p>There is nothing here yet.</p>
</div>
</div>

<div id="member-actions-box">
<div mab-title>
<h2>Member Actions Log</h2>
</div>
<div id="mab-main">
<p>There is nothing here yet.</p>
</div>
</div>

<div id="document-sharepoint-box">
<div id="dsb-main">
<h2>Document Sharepoint</h2>
</div>
<div id="dsb-main">
<p>There is nothing here yet.</p>
</div>
</div>

<div id="announcements-key-info-wall">
<div id="akiw-title">
<h2>Annoucements & Key Information Wall</h2>
</div>
<div id="akiw-main">
<p>There is nothing here yet.</p>
</div>
</div>

</section>
</body>
</html>
